/* Reset de estilos para garantir uma base consistente em todos os navegadores */
* {  
  
  /*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .recipes-container{
    grid-template-columns: 1fr 1fr;

  }
  img{
    height: 10rem;
  }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para as imagens dos produtos */
.product img {
  width: 100%; 
  max-width: 100%; 
  height: 100%; 
}
.slick-carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.recipes-container{
  display: grid;
  gap: 2rem 1rem;
  border: 2px solid green;
  text-align: left; 
  padding: 10px;
  border-radius: 5px; 

}
.featured-products {
  text-align: center;
}

/* Estilo da barra de navegação */
.navbar {
  background-color: blueviolet;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

/* Estilo do botão de menu para telas pequenas */
.icon a {
  display: none;
  font-size: 1.5rem;
}

/* Estilo para a seção de receitas */
.receitas {
  padding: 20px;
}

.receitas h2 {
  color: #fff;
  margin-bottom: 10px;
}

.receitas ul {
  list-style: none;
}

.receitas li a{
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
}

/* Estilo para a versão responsiva do menu */
.menu.responsive {
  position: relative;
}

.menu.responsive .icon a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.menu.responsive ul {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  position: absolute;
  top: 60px; /* Ajuste conforme necessário para a altura da barra de navegação */
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu.responsive li {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

/* Adiciona um efeito de hover para links no menu responsivo */
.menu.responsive a:hover {
  background-color: #ddd;
  color: #333;
}

